#parrafo1{
    color: blueviolet;
    background-color: brown;
}
#parrafo2{
    color: chocolate;
}
h1{
    color:aqua;
}
h3{
    color:crimson;
}
#encabezado-cuatro{
    color: green;
}
.color-red{
    color:red;
}
.color-blue{
    color: blue;
}
body{
    background-image: url(https://images6.alphacoders.com/890/890446.jpg);
    background-size: cover; 
}

.footer {
    color: blueviolet;
    background-color: black;
}